<a href="/disruptions/new" class="inline-flex items-center px-3 py-2 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
  </svg>
  create new
</a>

<div class="flex justify-between">
  <div class="py-4 flex items-center">
    <.mode_icon mode="red") />
    <.mode_icon mode="blue" />
    <.mode_icon mode="orange" />
    <.mode_icon mode="green_b" />
    <.mode_icon mode="green_c" />
    <.mode_icon mode="green_d" />
    <.mode_icon mode="green_e" />
    <.mode_icon mode="mattapan" />
    <.mode_icon mode="cr" />

    <.white_button class="mr-2">
      needs review
    </.white_button>

    <.white_button> include past </.white_button>
  </div>
  <div class="py-4 flex items-center">
    <.white_button class="mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
      </svg>
      actions
    </.white_button>
    <.white_button>
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-1 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
      </svg>
      calendar view
    </.white_button>
  </div>
</div>

<div class="mt-2">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  adjustments <span class="text-black">↑</span>
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  date range ↑
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  exceptions ↑
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  time period ↑
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  status ↑
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                  ID ↑
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200 text-gray-800">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-5 w-5">
                      <img class="h-5 w-5 rounded-full" src="/images/icon-red-line-small.svg" alt="">
                    </div>
                    <div class="ml-2">
                      <div class="text-md text-gray-900">
                        AshmontJFK
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-md">07/08/2021</div>
                  <div class="text-md">07/17/2021</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  1
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div>Thu - Sat</div>
                  <div>Start of service - End of service</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                    ready
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">43</a>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-5 w-5">
                      <img class="h-5 w-5 rounded-full" src="/images/icon-mode-commuter-rail-small.svg" alt="">
                    </div>
                    <div class="ml-2">
                      <div class="text-md text-gray-900">
                        AshmontJFK
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-md">07/20/2021</div>
                  <div class="text-md">07/30/2021</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  0
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div>Thu - Sat</div>
                  <div>Start of service - End of service</div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                    pending
                  </span>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                  <a href="#" class="text-indigo-600 hover:text-indigo-900">44</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= live_render(@conn, ArrowLiveWeb.EmbeddedLive) %>
